/* Supervisordashboard.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard {
    width: 1100px; /* Increased from 960px */
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    border-radius: 15px; /* Softened the corners a bit more */
    overflow: hidden;
    
}

.sidebar {
    background-color: #34495e;
    color: #ffffff;
    width: 280px; /* Increased from 250px */
    padding: 30px; /* Increased padding for better spacing */
}

.sidebar h1 {
    font-size: 26px; /* Slightly larger font size */
    margin: 0;
    margin-bottom: 30px; /* Increased margin-bottom for more space */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    padding: 15px; /* Increased padding for a larger click area */
    color: #fff;
    text-decoration: none;
    border-radius: 8px; /* More rounded edges */
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #2c3e50;
}

.content {
    padding: 30px; /* Increased padding for more internal space */
    flex-grow: 1;
}

.content h2 {
    color: #333;
    font-size: 24px; /* Larger font size for headings */
}

.form-field input,
.form-field select,
.form-field textarea {
    padding: 12px; /* More padding for input fields */
    margin-bottom: 15px; /* More space between fields */
    border: 2px solid #ccc; /* Thicker border for more prominence */
    border-radius: 8px; /* More rounded edges */
}

.login-button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 12px 20px; /* Larger padding for a bigger button */
    border-radius: 8px; /* Rounded button edges */
    cursor: pointer;
    font-size: 18px; /* Larger text in the button */
}

.login-button:hover {
    background-color: #3498db;
}
